{% load static %}
{% load show_custom_html %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style.css' %} ">
</head>
<body>
    <h3><a href="/login/">Zaloguj</a></h3>
    Skróty:
    {% block featured %}
    {% endblock %}
    <br>
    <hr>
    Główna tręść:
    {% block articles %}
    {% endblock %}
    <br>
    pojedynczy:
    {% block article %}
    {% endblock %}

    {% render_html 1 %}
</body>
</html>